.box {
    margin: 30px;
    padding: 30px;
    width: 600px;
  }

  .row{
    padding: 10px;
    width: 600px;
}

.textLabel {
  display: inline-block;
    width: 150px;
    text-align: right;
    padding-right: 10px;
}

.titleRow {
  width: 600;
  text-align: center;
}

.error{
    color:red;
}

.buttonRow{
  padding: 10px;
  width: 400px;
  text-align:right;
}

button{
  text-align: center;
  margin: 30px;
  padding: 10px;
  background-color:purple;
  color:white;
  float: right;
  width:100px;
}