ul {
    list-style-type: none;
    margin-right: 40px;
    padding: 0px;
    overflow: hidden;
    background-color: gray;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width:100px;
  }
